@font-face {
    font-family: think;
    src: url("../assets/fonts/analogue65medium.ttf");
}

@font-face {
    font-family: thinkLight;
    src: url("../assets/fonts/analogue35thin.ttf");
}

@font-face {
    font-family: thinkP;
    src: url("../assets/fonts/analogue55regular.ttf");
}

@font-face {
    font-family: thinkPs;
    src: url("../assets/fonts/analogue45light.ttf");
}

@font-face {
    font-family: thinkHard;
    src: url("../assets/fonts/analogue75bold.ttf");
}

@font-face {
  font-family: thinkFast;
  src: url("../assets/fonts/unb_pro_regular.otf");
}

@font-face {
  font-family: thinkSmart;
  src: url("../assets/fonts/yoxallbold.ttf");
}

@font-face {
  font-family: thinkSlick;
  src: url("../assets/fonts/unb_pro_light.otf");
}

.titleSection{
  height: 20%;
  width: 20%;
  text-align: left;
}

.cardHeaders{
  font-family: thinkSmart;
  font-size: 25px;
}

.cardImages{
  border-radius: 5%;
  width: 50%;
  object-fit: cover;
  border: 5px solid whitesmoke;
}

.imgTxt {
	width: 80%;
	margin: 0 auto;
  display: flex;
}


.cardP{
  font-family: thinkFast;
  font-size: 20px;
  padding-left: 2%;
}

.cardPemphasis{
  font-family: thinkSlick;
  font-size: 15px;
}

.elem1 {
  grid-area: upper;
  text-align: center;
}
.elem2 { 
  grid-area: lefter; 
}

.innerCard-container {
  display: grid;
  grid-template-areas:
    'upper upper upper upper'
    'lefter lefter lefter lefter'
    'lefter lefter lefter lefter';
  gap: 10px;
  padding: 5px;
  width: 90%;
}

.innerCard-container > div {
  padding: 0px 0;
  font-size: 30px;
}

:root {
	--cards: 4;
	--cardHeight: 30vw;
	--cardTopPadding: 3.5em;
	--cardMargin: 1vw;
}

.container {
	width: 60%;
	margin: 0 auto;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
  width: 100%;
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
  transform: translate(0%,3%);
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
	background-color: #A0C3E8;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #96B9D1;
}
#card3 .card-body {
	background-color: #91B5C7;
}
#card4 .card-body {
	background-color: #88ABB2;
}

.card-body {
	box-sizing: border-box;
	padding: 30px;
	border-radius: 50px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
	height: var(--cardHeight);
	display: flex;
  justify-content: center;
	transition: all 0.5s;
}

.body1 { grid-area: top; }
.body2 { grid-area: sideOne; }
.body3 { grid-area: middle; }
.body4 { grid-area: sideTwo; }
.body5 { grid-area: top2; }

#firstHeader{
    font-size: 17px;
    text-align: left;
    font-family: thinkLight;
}

#firstP{
    width: 50%;
    padding-top: 1.5%;
    margin-bottom: 10px;
    font-size: 23px;
    text-align: left;
    font-family: thinkP;
}

#secHeader{
    font-size: 20px;
    text-align: left;
    font-family: thinkLight;
    color:#6f6767;
}

#secP{
    padding-top: 2.5%;
    margin-bottom: 10px;
    font-size: 23px;
    color:#6f6767;
    text-align: left;
    font-family: thinkP;
    width: 150%;
}

.white{
    width: 100%;
    padding: 3%;
    padding-left: 20%;
}

.grey{
    background-color: #f2f2f2;
    width: 100%;
    padding: 3%;
}

.whiteTwo{
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greyTwo{
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3%;
}

#cardHeader{
  position: absolute;
}


#pic1{
    height: 440px;
    width: 340px;
    border-radius: 10%;
    object-fit: cover;
    border: 5px solid #9CBFE0;
}


#titleFour{
    font-size: 20px;
    font-family: thinkLight;
    margin-top: -1%;
}

#programDisc{
    font-size: 20px;
    font-family: thinkPs;
}

.body-container {
  display: grid;
  grid-template-areas:
    'top2 top2 top2'
    'sideOne middle sideTwo';
  gap: 5%;
  padding: 10px;
  width: 70%;
}

.body-container > div {
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
}

#shrink{
    width: 80%;
    padding-left: 12%;
}

#emphasis{
    font-family: thinkP;
}

hr.solid {
    border-top: 3px;
    border-radius: 5px;

    border: 0;
    clear:both;
    display:block;
    width: 95%;               
    background-color:#000;
    height: 3px;
    
  }

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button1 {
    background-color: #008CBA;
    color: white;
    border-radius: 8px;
    width: 15%;
    height: 15%;
    border: 2px solid #008CBA;
    text-align: center;
    padding: 1px;
  }
  
.button1:hover {
    background-color: white; 
    color: black; 
  }

.button2 {
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
  border-radius: 9px;
  height: 10%;
  width: 30%;
  padding: 1px;
  font-size: 14px;
  text-align: center;
}

.button2:hover {
  background-color: white; 
  color: black; 
}

.button-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
  }
  .button-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    text-align: center;
  }


.item1 { grid-area: main; }
.item2 { grid-area: right; }

img {
    max-width: 100%;
    max-height:100%;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    width: 30%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

.grid-container {
  display: grid;
  grid-template-areas:
    'main main right';
  gap: 20px;
  padding: 10px;
}

.grid-container > div {
  padding: 20px 0;
}

  #container2{
    width: 30%;
  }

#intro{
    word-wrap: break-word;
    white-space: normal;
    font-size: 10px;
}

#logo{
    width: 100px;
    object-fit: cover;
}

  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #A9CAF9, #6F947D);
    
    color: white;
    height: 25vh;
  }
  
  /* Increase the font size of the heading */
  #title {
    font-size: 35px;
    font-family: think;
  }

  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    z-index:9999;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }